.footer__link-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: inherit;
}


@media (min-width: 768px) {
    .footer__link-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }
}