.footer {
    margin: 0 0 24px 16px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 24px 24px;
    }
}